<div class="page-header">
  <h1>ArchivesSpace Permissions Viewer</h1>
  <p><b>Version:</b> <%= @ver %></p>
</div>

<div class="row text-center">
  <p><a href="perms">View Permissions table</a> | <a href="roles">View Role definitions</a></p>
</div>

